---
import PageLayout from "../layouts/PageLayout.astro"

const works = await Astro.glob("/src/pages/works/*.md")
---

<div>
    <PageLayout>
        <div style="max-width: 600px;">
            {
                works.map((work: any) => (
                    <a href={work.url} class="works-link">
                        <div class="d-flex flex-md-row flex-column align-items-center ">
                            <div>
                                <img
                                    class="works-cover"
                                    src={work.frontmatter.cover}
                                />
                            </div>
                            <div class="m-4">
                                <h6 class="my-1 py-1">{work.frontmatter.title}</h6>

                                
                                <small class="py-1">
                                    <i>{work.frontmatter.date}</i>
                                </small>
                                <br />
                                <small>{work.frontmatter.author}</small>
                            </div>
                        </div>
                    </a>
                ))
            }
        </div>
    </PageLayout>
</div>

<style></style>
